









	




<!DOCTYPE html>
<html lang="en" class="paige-home" data-behaviors="minimum-requirements">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="_csrf" content="e93ce566-9126-45a3-aaa1-6859e770786a"/>
	  <meta name="_csrf_header" content="X-CSRF-TOKEN"/>
    <link rel="shortcut icon" href="https://downloads.sho.com/tools/favicon-cog.ico">

    <title>Home</title>

    <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Stint+Ultra+Expanded|Nixie+One' rel='stylesheet' type='text/css'>

    

<style>
	html {
		display:none;
	}
</style>
<script>
  (self == top) ? document.documentElement.style.display = 'block' : top.location = self.location;
</script>

    <link rel="stylesheet" href="/shomin/library/dist/tools.css?v=1.104.0" type="text/css" media="screen">

    
      <script src="http://localhost:35729/livereload.js"></script>
    
    <script src="/shomin/library/dist/tools.bundle.js"></script>

		
      
      
        <script src="//assets.adobedtm.com/b26bceb2709971ca61e40b50b0736f608ea17cfd/satelliteLib-ea9ef58178aea68ef50ab326964e23de338750b8-staging.js"></script>
      
    

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    
  </head>

  <body>
    <div class="container alert-container">
      
        
        
      
    </div>

    <!-- the global navigation for all tools -->
    <div class="navbar navbar-default navbar-fixed-top navbar-global " role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#global-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
          </button>
          
          <a href="/shomin/home" class="navbar-brand">Sh<i class="fa fa-cogs"></i>wtime </a>
        </div>
        <div class="collapse navbar-collapse" id="global-navbar-collapse">
          <ul class="nav navbar-nav navbar-right">

          	
          		<li>
          			
					<a href="/shomin/phil" title="Darn Fine Content Management">PHIL</a>
				</li>
          	
          		<li>
          			
					<a href="/shomin/smith" title="Darn Fine Content Management">SMITH</a>
				</li>
          	
          		<li>
          			
					<a href="/shomin/marketing" title="Exquisite Marketing Tools">SAGE</a>
				</li>
          	
          		<li>
          			
					<a href="/shomin/harold" title="Effortless Collection Management">HAROLD</a>
				</li>
          	
          		<li>
          			
					<a href="/shomin/job/jobs/task" title="Painfully Good Jobs">JOB</a>
				</li>
          	
          		<li>
          			
					<a href="/shomin/art" title="Artisanal Asset Management">ART</a>
				</li>
          	
          		<li>
          			
					<a href="/shomin/administration/users/search" title="Amazing User Management">REGGIE</a>
				</li>
          	

            
            
              
              <li><a href="#" onclick="document.getElementById('logoutAction').submit();">Logout</a></li>
              <form id="logoutAction" action="/shomin/logout" method="POST">
                  <input type="hidden" name="_csrf" value="e93ce566-9126-45a3-aaa1-6859e770786a"/>
              </form>
            
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <!-- the meat and potatoes -->
    




<div class="navbar-tool-wrapper">
  <div class="navbar navbar-default navbar-tool" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span> <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        
        <a class="navbar-brand" href="/shomin/tools/paige/index.html">Paige</a>
      </div>

      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav navbar-right">

          
            <li>
              
              <a href="#" title="">
                Series
              </a>
            </li>
          
            <li>
              
              <a href="#" title="">
                Movies
              </a>
            </li>
          
            <li>
              
              <a href="/shomin/harold/showtime-pr/users/search" title="">
                Sports
              </a>
            </li>
          
          
        </ul>
      </div>
    </div>
  </div>
</div>


<!-- Primary Content -->



<header class="jumbotron tool-header">
  <div class="container">
    <h1>Affair, The</h1>
  </div>
</header>





<div class="utility-navigation">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<ul class="list-inline pull-left">
					
						<li  class="active">
							<a href="#">Hero</a>
						</li>
					
					
						<li >
							<a href="#">Primary Tiles</a>
						</li>
						
						
						<li >
							<a href="#">Secondary Tiles</a>
						</li>
					
				</ul>
			</div>
		</div>
	</div>
</div>

<div data-page="paige-content-manager" data-content-block-id="224" data-context-id="293">

<div data-page="paige-content-manager">
	<p>Paige APP goes here</p>
</div>
</div>


    <div id="site-footer">
      <footer class="container"><p>&copy; Showtime Networks &bull; 2018</p></footer>
    </div>

		<script type="text/javascript">_satellite.pageBottom();</script>

    
  </body>
</html>
