.content-block__header {
	@include clearfix;
	&--name {
		width: auto;
		max-width: 90%;
		float: left;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}
	&__action--edit {
		float: left;
		margin-top: $sizes-xl + $sizes-s;
		margin-left: $sizes-m;
	}	
}

.content-block__form {
	display: flex;
	align-items: flex-end;
	margin-bottom: $sizes-xl;
	&__input {
		padding: 10px;
		border: 1px solid $colors-table-border; 
		border-radius: 4px;
	}
	&__btn {
		margin-left: $sizes-m
	}
	&__cancel {
		margin-left: $sizes-m;
		border: 1px solid $colors-table-border; 
		border-radius: 4px;
		background-color: $colors-pure-white; 
		height: 33px;
		width: 33px;
		font-size: 18px;
	}
}


