.promo-form {
  position: relative;
}

.promo-form-group--inline {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: flex-start;
}

.promo-form-group--footer {
  background-color: #f8f9fa;
  display: flex; 
  align-items: center;
  padding: $sizes-l 0;
  margin-bottom: 0;
}

.date-time-wrapper {
  display: flex;
  align-items: center;
  margin-right: $sizes-m;
  border: $colors-form-input-border solid 1px;
  border-radius: 4px;
  z-index: 2;
}

.date-time-addon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  width: $sizes-xl + $sizes-xl;
}

.input-cancel {
  z-index: 1;
  font-size: 18px;  
}

$input-height : 32px;
.promo-form__input {
  &--window     { @include promo-list-column-width("window")        }    
  &--position   { @include promo-list-column-width("position")      } 
  &--display-context { @include promo-list-column-width("context")  }
  &--name       { @include promo-list-column-width("name")          }       
  &--start-date { @include promo-list-column-width("start-date")    }  
  &--end-date   { @include promo-list-column-width("end-date")      }   
  &--tools      { @include promo-list-column-width("tools")         } 
  
  display: flex;
  align-items: center;
  
  &--display-context {
    padding-left: 0 !important;
  }
  
  
  label {
    padding: $sizes-m 0px;
    width: 150px;
    line-height: $input-height;
    text-align: right;
    margin-right: $sizes-xl + $sizes-s;
  }
  
  input {
    line-height: $input-height;
    text-indent: $sizes-m;
  } 

  textarea {
    padding: 10px;
   }

  input,
  textarea {
    width: 500px;
    font-size: 16px;
    border: $colors-form-input-border solid 1px;
    border-radius: 4px;
    &:required {
      border-width: 3px
    }
  }
  
  &--description {
    align-items: flex-start;
    margin: $sizes-m 0;
    label {
      padding-top: 0px;
      display: block;
      float: left;
    }
    textarea {
      height: 300px;
     }
  }
  
  
  
  .promo-form-group--inline & {
    @extend .promo-list__item__column;
    display: inline-block;
    min-height: 0;
    height: auto;
    
    input { 
      width: auto;
      height: $input-height;
      border-radius: 4px;
    }
    
    & > .promo-form__input__help-block {
      margin: 0px 0px $sizes-s 0px;
    }

    &.promo-form__input--name {
      padding-right: $sizes-m;
      input {
        height: 34px;
        margin-right: 0;
        width: 100%;
      }
    }
  
    &.promo-form__input--start-date,
    &.promo-form__input--end-date {
      input {
        border-width : 0;
        border-radius: 4px 0px 0px 4px; 
      }
    }
  }
}

.promo-form__input--error  {
  & > label {
    color: $colors-form-input-error;
  }
  input,
  &.promo-form__input input {
    border-color: $colors-form-input-error;
  }
}

.promo-form__input__help-block {
  display: inline-block;
  margin: 0px 0px $sizes-s $sizes-m;
  position: relative;
  color: $colors-form-input-error;
  font-size: 16px;
}

.promo-form__input--position input {
  border: $colors-form-input-border solid 1px;
  border-radius: 4px;
  outline: none;
  text-align: center;
  text-indent: 0;
}

.promo-form-group--inline .promo-form__input--position {
  padding-left: $sizes-xl;
}

.promo-form__delete {
  position: absolute;
  right: $sizes-xl;
  text-align: right; 
}

.promo-form__button {
  &--cancel {
    text-align: right;
    display: inline-block;
    color: $promo-list-item-promotional-window-draft;
    margin-left: $sizes-xl + $sizes-s;
  }
  
  &--submit {}
  
}

.promo-form__button--cancel:hover {
  color: $dark_grey;
  text-decoration: none;
}

.promo-form__input--text-area label {
  vertical-align: top
}

// icons for image-path
// [()-] [.] [√]
// <div class='promo-form__image-actions'>
//  <div class="image-hunter image-action">
//    <span class="image-hunter__icon image-action__icon fa fa-search">&nbsp;</span>
//  </div>
//  <div class="image-preview image-action">
//    <span class="image-preview__icon image-action__icon fa fa-eye image-preview--invalid">&nbsp;</span>
//  </div>
//  <div class="image-validator image-attr image-validator--success">
//    <span class="image-validator__status image-attr__icon">√</span>
//  </div>
// </div>

$image-action-width:  ($sizes-xl + $sizes-l);
$image-action-margin: $sizes-m;
.promo-form__input--image-path {
  display: flex;
  flex-wrap: wrap;
  
  input { 
    width:500px - (($image-action-width + $image-action-margin) * 3);  
  }
  
  
  .image-action,
  .image-attr {  
    display: inline-block;
    width: $image-action-width;
    line-height: $input-height;
    text-align: center;
  }
  
  .image-action {
    margin-left: $image-action-margin;
    cursor:pointer;
    border: $colors-form-input-border solid 1px;
    border-radius: $sizes-s;

    &:hover {
      background-color: $colors-form-input-border;
    }
  }

  .image-preview  {
    position: relative;
    margin-left: $sizes-m;

    &__icon {
      position: relative;
    }
    
    &__img {
      display: none;
      position: absolute;
      z-index: 1000;
      padding: $sizes-m;
      border: $colors-form-input-border solid 1px;
      border-radius: $sizes-s;
      background-color: $colors-pure-white;
      max-width: 200px;
    }
    
    &--invalid {
      cursor: auto;
      opacity: 0.5
    }
  }
  
  .image-action:hover.image-preview--invalid {
    background: 0;
  }
}

.image-validator {
  &--success {
    color: #4cae4c;
  }
  &--failure {
    color: #d9534f;
  }
  &--bypassed {
    position: relative;
    @extend .image-action
  }
}

.image-validator__tooltip {
  display: none;
  position: absolute;
  // todo -add media query to stack at small widths
  top: -7px;
  left: 40px;
  width: 400px;
  background-color: $colors-pure-white;
  border: $colors-table-row-grey solid 1px;
  line-height: 1.5em;
  z-index: 99999;
  
  .image-validator:hover & {
    display: block;
  }
}

// wrap image actions onto new-line as needed
@media(max-width: 899px){
  .promo-form__input--image-path input{
    width: 500px;
  }
  .promo-form__image-actions {
    display: block;
    margin-left: 165px;
  }
}


.image-preview:hover .image-preview__img {
  display: block;
}

.promo-form__error-message {
  margin: $sizes-m;
  padding: $sizes-m;
  color: $colors-form-input-error;
  border: $colors-form-input-error solid 2px;
}

.promo-form-group--draft-mode {
  display: flex;
  align-items: center;
  margin-left: $sizes-xl + $sizes-s;
  margin-bottom: 0;
  & input {
    margin-right: $sizes-xs + $sizes-xs + $sizes-xs;
  }
}

.footer__left-buttons {
  width: 150px;
  display:flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: $sizes-xl + $sizes-s;
}