$table-row-height : $sizes-xl + $sizes-xxl;

.promo-list {
  position: relative;
}

.promo-list__item {  
  display: flex;
  position: relative;
  justify-content: flex-start;//space-evenly;
  min-height: $table-row-height;
  border: $colors-table-border solid 1px;
  border-bottom: none;
  transition-property: background-color;
  transition-duration: 0.5s; // must match value in form-hooks-middleware
  transition-timing-function: ease-in-out;

  &:nth-child(odd) {
    background-color:  $colors-table-row-grey;
  }
  
  &:last-child {
    border-bottom: $colors-table-border solid 1px;
  }

  &--highlighted,
  &--highlighted.promo-list__item:nth-last-child(odd){
    transition-duration: 0s;
    background-color: yellow;
  }  
  
  &--is-editing {
    display: block;
    height: auto;
  }
  
  &--head {
    .promo-list__item__column--position, 
    .promo-list__item__column--context,
    .promo-list__item__column--name,
    .promo-list__item__column--start-date,
    .promo-list__item__column--end-date {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
    }
  }

  &__column {
    min-height:  $table-row-height;
    padding: $sizes-l;
    font-size: 16px;
    line-height: 22px;
    
    &--active {
      font-weight: bold;
    }

    &--header {
      font-size: 11px;
    }

    &--window {
      position: absolute;
      left: 0;
      padding: 0;
      width: $sizes-m;
      text-indent: -100px;
      height: 100%;
      overflow: hidden;
  
      &[data-schedule-status="active"]   { background-color: $promo-list-item-promotional-window-active   }
      &[data-schedule-status="expired"]  { background-color: $promo-list-item-promotional-window-expired  }
      &[data-schedule-status="upcoming"] { background-color: $promo-list-item-promotional-window-upcoming }
      &[data-schedule-status="draft"]    { background-color: $promo-list-item-promotional-window-draft }
    }
  
    &--window     { @include promo-list-column-width("window")     }    
    &--position   { @include promo-list-column-width("position")   } 
    &--context    { @include promo-list-column-width("context")   } 
    &--name       { @include promo-list-column-width("name")       }      
    &--start-date { @include promo-list-column-width("start-date") }  
    &--end-date   { @include promo-list-column-width("end-date")   }   
    &--tools      { @include promo-list-column-width("tools")      }
    
    &--position {
      padding-left: $sizes-xl;
      min-width: 115px;
    }
      
    &--tools {
      text-align: right; 
      padding-left: 0
    }
  }
  
  .promo-list__item__sort-direction-icon {
    padding-left: $sizes-s;
  }
  .promo-list__item__context-link {
    &,
    &__context, 
    &__content-block {
      display: block;
      text-decoration: none;
    }
    &__context { margin-bottom: 1em }
  }
  
  .promo-tools {
    font-size: 14px;
    line-height: 18px;

    &__action {}
    &__action--disabled {
      opacity: 0.25;
      cursor: default;
    }
  }

  .promo-tools a {
    margin-right: 10px;
  }

  .promo-tools a:nth-last-child(-n+2) {
    margin-right: 7px;
  }

  .icon-copy-with-duration {
    background-image: url('../../../library/images/svg/clone-icon-duration.svg');
    background-repeat: no-repeat;
    width: 18px;
    height: 17px;
    position: relative;
    top: 2px;
    color: #337ab7;
  }
  
  .icon-copy-to-section {
    background-image: url('../../../library/images/svg/copy-to-section.svg');
    background-repeat: no-repeat;
    width: 14px;
    height: 14px;
    position: relative;
    top: 2px;
  }
}

.promo-list .pagination  {
  transform: translateX(-50%);
  margin-left: 50%;
}

.promo-list a{
  cursor: pointer;
}