$table-row-height : $sizes-xl + $sizes-xxl;

.promo-list {
  position: relative;
}

.promo-list__spinner {
  position: absolute;
  top   : $sizes-m; 
  right : $sizes-m;
}

.promo-list__item {  
  display: flex;
  position: relative;
  justify-content: flex-start;//space-evenly;
  min-height: $table-row-height;
  border: $colors-table-border solid 1px;
  border-bottom: none;
  transition-property: background-color;
  transition-duration: 0.5s; // must match value in form-hooks-middleware
  transition-timing-function: ease-in-out;
  
  &:nth-child(odd) {
    background-color:  $colors-table-row-grey;
  }
  
  &:last-child {
    border-bottom: $colors-table-border solid 1px;
  }

  &--highlighted,
  &--highlighted.promo-list__item:nth-last-child(odd){
    transition-duration: 0s;
    background-color: yellow;
  }  
  
  &--is-editing {
    display: block;
    height: auto;
  }
  
  &--head {
    .promo-list__item__column--position, 
    .promo-list__item__column--name,
    .promo-list__item__column--start-date,
    .promo-list__item__column--end-date
      {cursor: pointer;}
  }

  &__column {
    min-height:  $table-row-height;
    padding: $sizes-l 0;
    font-size: 16px;
    line-height: 32px;
    
    &--active {
      font-weight: bold;
    }

    &--window {
      position: absolute;
      left: 0;
      padding: 0;
      width: $sizes-m;
      text-indent: -100px;
      height: 100%;
      overflow: hidden;
  
      &[data-schedule-status="active"]   { background-color: $promo-list-item-promotional-window-active   }
      &[data-schedule-status="expired"]  { background-color: $promo-list-item-promotional-window-expired  }
      &[data-schedule-status="upcoming"] { background-color: $promo-list-item-promotional-window-upcoming }
    }
    
    &--window     { flex-basis: 0%  }
    &--position   { flex-basis: 10% }
    &--name       { flex-basis: 35% }
    &--start-date { flex-basis: 15% }
    &--end-date   { flex-basis: 15% }
    &--tools      { flex-basis: 25% }
    
    &--position {
      padding-left: $sizes-xl 
    }
      
    &--tools {
      text-align: right; 
      padding-right: $sizes-l
    }
  }
  
  .promo-list__item__sort-direction-icon {
    padding-left: $sizes-s;
  }
  
  &--is-editing {
    padding: 0 !important;
  }
  
  .promo-tools {
    font-size: 14px;
    line-height: 18px;

    &__action {}
    &__action--disabled {
      opacity: 0.25
    }
  }

  .promo-tools a {
    margin-right: 8px;
  }

  .promo-tools a:nth-last-child(-n+2) {
    margin-right: 2px;
  }

  .icon-copy-with-duration {
    margin-right: 0;
    position: relative;
    top: -6px;
    left: -4px;
  }
}