$table-row-height : $sizes-xl + $sizes-xxl;

.promo-list {
  position: relative;
}

.promo-list__spinner {
  position: absolute;
  top   : $sizes-m; 
  right : $sizes-m;
}

.promo-list__item {  
  display: flex;
  position: relative;
  justify-content: flex-start;//space-evenly;
  min-height: $table-row-height;
  border: $colors-table-border solid 1px;
  border-bottom: none;
  transition-property: background-color;
  transition-duration: 0.5s; // must match value in form-hooks-middleware
  transition-timing-function: ease-in-out;
  // text-align: center;
  &:nth-child(odd) {
    background-color:  $colors-table-row-grey;
  }
  
  &:last-child {
    border-bottom: $colors-table-border solid 1px;
  }

  &--highlighted,
  &--highlighted.promo-list__item:nth-last-child(odd){
    transition-duration: 0s;
    background-color: yellow;
  }  
  
  &--is-editing {
    display: block;
    height: auto;
  }
  
  &--head {
    .promo-list__item__column--position, 
    .promo-list__item__column--context,
    .promo-list__item__column--name,
    .promo-list__item__column--start-date,
    .promo-list__item__column--end-date {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }

  &__column {
    min-height:  $table-row-height;
    padding: $sizes-l;
    font-size: 16px;
    line-height: 22px;
    
    &--active {
      font-weight: bold;
    }

    &--header {
      font-size: 11px;
    }

    &--window {
      position: absolute;
      left: 0;
      padding: 0;
      width: $sizes-m;
      text-indent: -100px;
      height: 100%;
      overflow: hidden;
  
      &[data-schedule-status="active"]   { background-color: $promo-list-item-promotional-window-active   }
      &[data-schedule-status="expired"]  { background-color: $promo-list-item-promotional-window-expired  }
      &[data-schedule-status="upcoming"] { background-color: $promo-list-item-promotional-window-upcoming }
      &[data-schedule-status="draft"]    { background-color: $promo-list-item-promotional-window-draft }
    }
    
    &--window     { flex-basis: 0%  }
    &--position   { flex-basis: 10%; min-width: 90px; }
    &--context    { flex-basis: 25% }
    &--name       { flex-basis: 25% }
    &--start-date { flex-basis: 15% }
    &--end-date   { flex-basis: 15% }
    &--tools      { flex-basis: 10% }
    
    &--position {
      padding-left: $sizes-xl 
    }
      
    &--tools {
      text-align: right; 
      padding-right: $sizes-l
    }
    &:last-child {
      padding: $sizes-l $sizes-l $sizes-l 0;
    }
  }
  
  .promo-list__item__sort-direction-icon {
    padding-left: $sizes-s;
  }
  
  &--is-editing {
    padding: 0 !important;
  }
  
  .promo-tools {
    font-size: 14px;
    line-height: 18px;

    &__action {}
    &__action--disabled {
      opacity: 0.25;
      cursor: default;
    }
  }

  .promo-tools a {
    margin-right: 13px;
  }

  .promo-tools a:nth-last-child(-n+2) {
    margin-right: 7px;
  }

  .icon-copy-with-duration {
    background-image: url('../../../library/images/svg/clone-icon-duration.svg');
    background-repeat: no-repeat;
    width: 18px;
    height: 17px;
    position: relative;
    top: 2px;
    color: #337ab7;
  }
}

// adjust column widths for diff contexts
.promo-list--content-block-context {
  .promo-list__item__column--name {
    flex-basis: 40%;  
    overflow: hidden;
  }
  .promo-list__item__column--start-date,
  .promo-list__item__column--end-date {
    flex-basis: 20%;
  }
}

.promo-list .pagination  {
  transform: translateX(-50%);
  margin-left: 50%;
}