// paige vars
$colors-pure-white        : #FFFFFF;
$colors-pure-black        : #000101;
$colors-table-border      : #DDDDDD;
$colors-table-row-white   : $colors-pure-white;
$colors-table-row-grey    : #f8f9fa;
$colors-form-input-border : #E1E1E1;
$colors-form-input-error  : #FF0000;
$colors-error             : #FF0000;
$dark_grey                : #999;

$sizes-xs  : 1px;
$sizes-s   : 5px;
$sizes-m   : 10px;
$sizes-l   : 15px;
$sizes-xl  : 20px;
$sizes-xxl : 50px;

$promo-list-item-promotional-window-active  : $brand-success;
$promo-list-item-promotional-window-expired : $brand-danger;
$promo-list-item-promotional-window-upcoming: $brand-warning;
$promo-list-item-promotional-window-draft   : #B8BDBD;

$promo-list-column-widths : (
  "window"     : 0%       ,
  "position"   : 10%    ,
  "context"    : 17%      ,
  "name"       : 19%      , 
  "start-date" : 24.125%  ,
  "end-date"   : 24.125%  ,
  "tools"      : 5.75%     
);

$promo-list-column-min-widths: (
  "position" : 115px
);

$promo-list-column-widths-for-content-block : (
  "name"       : 29.75%,
  "tools"      : 12%   
);
 
@mixin promo-list-column-width($key) {
  flex-basis: map-get($promo-list-column-widths, $key);
  
  @if(map-has-key($promo-list-column-min-widths, $key)){
    min-width: map-get($promo-list-column-min-widths, $key);
  }
  // override more conservative widths to let some columns breathe in content-block context
  @if(map-has-key($promo-list-column-widths-for-content-block, $key)){
    .promo-list--content-block-context & {
      flex-basis: map-get($promo-list-column-widths-for-content-block, $key);
    } 
  }
}
